.counter {
  background-color: rgb(0, 255, 255);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  min-width: 350px;
  p {
    font-size: 2rem;
    border: 2px solid #ffffff;
    padding: 1rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212121;
    font-weight: bold;
  }
}
@media (max-width: 400px) {
  .counter {
    min-width: 200px;
  }
}
